.container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 25px;
  justify-content: center;
  margin: 50px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fill, 210px);
  }
}
